<html>

<head>
    <title>Fleet of Thieves - <%-title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <link href="/css/style.css" media="all" rel="stylesheet" type="text/css" />
    
</head>

<body>
    <div class="site-body">
        <div class="content">
            <% if(typeof(layout_type) != "undefined" && layout_type) {%>
            <%- include(layout_type) %>
            <% } %>
        </div>
        
    </div>
</body>

</html>